{% extends 'base.html.twig' %}

{% block title %}Tableau des données{% endblock %}

{% block body %}
<h1 class="m-3">Tableau des données</h1>

<div class="row">
    <div class="col-6"><a onclick="history.go(-1)" class="btn btn-success">revenir en arrière</a></div>
    {# <a onclick="goBackToTableauDeBord()" class="btn btn-success">Revenir en arrière</a> #}
    <div class="col-6"><p>Liste des données du fichier : {{fichier.nomOriginal}} </p></div>
</div>

<hr>

{# {{ dump(listeDonnee) }} #}
            <table class="table table-hover border">
                <thead>
                    <tr>
                        <th scope="col-2">Temps</th>
                        <th scope="col-1">temperature</th>
                        <th scope="col-1">humidite</th>
                        <th scope="col-1">volume</th>
                        <th scope="col-1">puissance</th>
                        <th scope="col-1">tds</th>
                        <th scope="col-1">ph</th>
                        <th scope="col-1">pfg</th>
                        <th scope="col-1">pr</th>
                        <th scope="col-1">vfe</th>
                        <th scope="col-1">vnc</th>
                    </tr>
                </thead>
                <tbody>

                {% for laDonnee in listeDonnee %}
                    <tr>
                        <td> {{laDonnee.date | date("d-m-Y H:i:s")}} </td>
                        <td> {{laDonnee.t}} </td>
                        <td> {{laDonnee.h}} </td>
                        <td> {{laDonnee.v}} </td>
                        <td> {{laDonnee.puissance}} </td>
                        <td> {{laDonnee.tds}} </td>
                        <td> {{laDonnee.ph}} </td>
                        <td> {{laDonnee.pgf}} </td>
                        <td> {{laDonnee.pr}} </td>
                        <td> {{laDonnee.vfe}} </td>
                        <td> {{laDonnee.vnc}} </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        <div class="navigation mx-auto">
            {{ knp_pagination_render(listeDonnee) }}
        </div>

{# 
        {{ dump(id) }}
        {{ dump(nbl) }}

        {{ dump(listeDonnee) }} #}

{# <script>
    function goBackToTableauDeBord() {
        // Récupérer l'URL actuelle
        var currentUrl = window.location.href;
        
        // Trouver l'index de la première occurrence de "/tableauDeBord"
        var index = currentUrl.indexOf("/tableauDeBord");
        
        // Extraire la partie de l'URL jusqu'à "/tableauDeBord"
        var tableauDeBordUrl = currentUrl.substring(0, index + "/tableauDeBord".length);
        
        // Rediriger vers l'URL de "/tableauDeBord"
        window.location.href = tableauDeBordUrl;
    }
</script> #}


{% endblock %}